datasets/kathbath/data/*
datasets/kathbath/*.zip
datasets/kathbath/*.tar

datasets/voxceleb1h/data/*
datasets/voxceleb1h/*.zip
datasets/voxceleb1h/*.tar
datasets/voxceleb1h/*.gz

datasets/librispeech/LibriMix/storage_dir/*