datasets/kathbath/data/*
datasets/kathbath/*.zip
datasets/kathbath/*.tar

datasets/voxceleb1h/data/*
datasets/voxceleb1h/*.zip
datasets/voxceleb1h/*.tar
datasets/voxceleb1h/*.gz

datasets/voxceleb1h_subset/dev*
datasets/voxceleb1h_subset/dev_plus_test*

q1/checkpoints/*.pth

datasets/librispeech/LibriMix/storage_dir/*